# App
TITLE='Kids Needs API'
DESCRIPTION='Kids Needs Backend API'
VERSION=0.0.1

# Database
DB_NAME=kids_needs_db
DB_USER=dbuser
DB_PASSWORD=18922981
DB_HOST=localhost

# Object Storage
STORAGE_ACCESS_KEY_ID=aad53326-4113-4a7f-9e5f-02a6b3d5a8b6
STORAGE_SECRET_ACCESS_KEY=1ba0e46d2e3d1e195d8bf169d450e074c62682d525c2db520e1ebc9149e900ff
STORAGE_BUCKET_NAME=kids-needs-aws
S3_ENDPOINT_URL=s3.ir-thr-at1.arvanstorage.ir
